doctype html
head
    meta(charset='UTF-8', name='viewport', content='width=device.width, initial-scale=1' lang='en')
    meta(name='description', content='A log in screen for Gompeis Gear')
    title Login
    link(href='/public/stylesheets/tailwind.css' rel='stylesheet' type='text/css')
    // get rid of favicon error
    link(rel='icon' href='data:;base64,iVBORw0KGgo=')
.container.mx-auto.flex.flex-col.justify-center.items-center.min-h-screen.bg-red-100
    form.grid.grid-cols-2.gap-4(action='/login/password' method='post')
        h1.text-xl.font-bold.col-span-2.justify-self-center You Must Log in to Continue
        label.m-4(for='username') Username
        input#username(type='text' name='username' placeholder='Username' required='')
        label.m-4(for='password') Password
        input#password(type='password' name='password' placeholder='Password' required='')
        button#submit.item-center.col-span-2.bg-gray-200(type='submit' onclick='onSubmit()') Log In
